{
  "env": {
    "browser": false,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "extends": [
    "airbnb-base",
    "plugin:node/recommended"
  ],
  "rules": {
    "no-undef": "warn",
    "no-console": "off",
    "func-names": "off",
    "object-shorthand": "off",
    "class-methods-use-this": "off",
    "comma-dangle": "off",
    "no-plusplus": "off",
    "linebreak-style": "off",
    "no-buffer-constructor": "off",
    "max-len": [
      "error",
      {
        "code": 120,
        "comments": 120,
        "ignoreComments": false,
        "ignoreTrailingComments": false,
        "ignoreUrls": false,
        "ignoreStrings": false,
        "ignoreTemplateLiterals": false,
        "ignoreRegExpLiterals": true,
        "tabWidth": 2
      }
    ],
    "arrow-parens": [
      "error",
      "as-needed"
    ]
  }
}
